<app-navbar></app-navbar>
<div class="container">
  <form id="cycle_picks">
    <input id="userId" type="hidden" value="ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919">
    <input id="sessionId" type="hidden" value="J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">
    <input id="leagueId" type="hidden" value="2021">
    <div class="row header">
      <div class="col-12 text-center" id="header" style="font-size: 90px;">Game Exceptions</div>
    </div>
    <div class="row header border-t border-l border-r"></div>
    <div class="row header border-l border-r text-center">
      <div class="col-md-6 col-sm-6">
							<span class="mySpan">
								<select id="cyclePicker">
									<option value="1">Cycle 1</option>
									<option value="2">Cycle 2</option>
									<option value="3">Cycle 3</option>
									<option value="4">Cycle 4</option>
									<option value="5">Cycle 5</option>
									<option value="6">Cycle 6</option>
									<option value="7">Cycle 7</option>
									<option value="8">Cycle 8</option>
									<option value="9">Cycle 9</option>
									<option value="10">Cycle 10</option>
									<option value="11">Cycle 11</option>
									<option value="12">Cycle 12</option>
									<option value="13">Cycle 13</option>
									<option value="14">Cycle 14</option>
									<option value="15">Cycle 15</option>
									<option value="16">Cycle 16</option>
									<option selected="" value="17">Cycle 17</option>
									<option value="18">Cycle 18</option>
									<option value="19">Cycle 19</option>
									<option value="20">Cycle 20</option>
									<option value="21">Cycle 21</option>
									<option value="22">Cycle 22</option>
									<option value="23">Cycle 23</option>
									<option value="24">Cycle 24</option>
									<option value="25">Cycle 25</option>
									<option value="26">Cycle 26</option>
									<option value="27">Cycle 27</option>
									<option value="28">Cycle 28</option>
									<option value="29">Cycle 29</option>
									<option value="30">Cycle 30</option>
									<option value="31">Cycle 31</option>
									<option value="32">Cycle 32</option>
									<option value="33">Cycle 33</option>
									<option value="34">Cycle 34</option>
									<option value="35">Cycle 35</option>
									<option value="36">Cycle 36</option>
									<option value="37">Cycle 37</option>
									<option value="38">Cycle 38</option>
								</select>
							</span>
      </div>
      <div class="col-md-6 col-sm-6">
        <button class="btn-primary submitBtn" id="submit_Exceptions">
          <span class="mySpan">Submit</span>
        </button>
      </div>
    </div>
    <div class="row header border-t border-l border-r">
      <div class="col-12 text-center" id="error"></div>
    </div>
    <div class="row border-b border-l border-r bottom-spacer">
      <div class="col-md-2 col-sm-2">GAME #</div>
      <div class="col-md-4 col-sm-4">DATE</div>
      <div class="col-md-3 col-sm-1">MATCH</div>
      <div class="col-md-3 col-sm-5">EXCEPTION</div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_0" type="hidden" value="416222">
      <input id="gameTime_0" type="hidden" value="2022-12-26T12:30:00Z">
      <input id="gameStage_0" type="hidden" value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">161</div>
      <div class="col-md-4 col-sm-4 gameDate">12/26/2022 7:30:00 AM</div>
      <div class="col-md-3 col-sm-1">BRE v TOT</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler" id="switch_0" type="checkbox">
          <label class="custom-control-label" for="switch_0"></label>
          <span class="date-toggle" id="datetime_0" style="display: none;"></span>
            <input id="until_0" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_1" type="hidden" value="416215">
      <input id="gameTime_1" type="hidden" value="2022-12-26T15:00:00Z">
      <input id="gameStage_1" type="hidden" value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">162</div>
      <div class="col-md-4 col-sm-4 gameDate">12/26/2022 10:00:00 AM</div>
      <div class="col-md-3 col-sm-1">SOU v BHA</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler" id="switch_1" type="checkbox">
          <label class="custom-control-label" for="switch_1"></label>
          <span class="date-toggle" id="datetime_1" style="display: none;"></span>
          <input id="until_1" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_2" type="hidden" value="416217">
      <input id="gameTime_2" type="hidden" value="2022-12-26T15:00:00Z">
      <input id="gameStage_2" type="hidden" value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">163</div>
      <div class="col-md-4 col-sm-4 gameDate">12/26/2022 10:00:00 AM</div>
      <div class="col-md-3 col-sm-1">LEI v NEW</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler" id="switch_2" type="checkbox">
          <label class="custom-control-label" for="switch_2"></label>
          <span class="date-toggle" id="datetime_2" style="display: none;"></span>
          <input id="until_2"
                                                     type="datetime-local"
                                                     value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_3" type="hidden" value="416219">
      <input id="gameTime_3" type="hidden" value="2022-12-26T15:00:00Z">
      <input id="gameStage_3" type="hidden" value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">164</div>
      <div class="col-md-4 col-sm-4 gameDate">12/26/2022 10:00:00 AM</div>
      <div class="col-md-3 col-sm-1">EVE v WOL</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler" id="switch_3" type="checkbox">
          <label class="custom-control-label" for="switch_3"></label>
          <span class="date-toggle" id="datetime_3" style="display: none;"></span>
          <input id="until_3" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_4"
             type="hidden"
             value="416220">
      <input id="gameTime_4"
             type="hidden"
             value="2022-12-26T15:00:00Z">
      <input id="gameStage_4"
             type="hidden"
             value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">165</div>
      <div class="col-md-4 col-sm-4 gameDate">12/26/2022 10:00:00 AM</div>
      <div class="col-md-3 col-sm-1">CRY v FUL</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler"
                 id="switch_4"
                 type="checkbox">
          <label class="custom-control-label"
                 for="switch_4"></label>
          <span class="date-toggle"
                id="datetime_4"
                style="display: none;"></span>
																																	<input id="until_4"
                                                                         type="datetime-local"
                                                                         value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_5"
             type="hidden"
             value="416223">
      <input id="gameTime_5"
             type="hidden"
             value="2022-12-26T17:30:00Z">
      <input id="gameStage_5"
             type="hidden"
             value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">166</div>
      <div class="col-md-4 col-sm-4 gameDate">12/26/2022 12:30:00 PM</div>
      <div class="col-md-3 col-sm-1">AVL v LIV</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler"
                 id="switch_5"
                 type="checkbox">
          <label class="custom-control-label"
                 for="switch_5"></label>
          <span class="date-toggle"
                id="datetime_5"
                style="display: none;"></span>
          <input id="until_5" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_6"
             type="hidden"
             value="416224">
      <input id="gameTime_6"
             type="hidden"
             value="2022-12-26T20:00:00Z">
      <input id="gameStage_6"
             type="hidden"
             value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">167</div>
      <div class="col-md-4 col-sm-4 gameDate">12/26/2022 3:00:00 PM</div>
      <div class="col-md-3 col-sm-1">ARS v WHU</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler"
                 id="switch_6"
                 type="checkbox">
          <label class="custom-control-label" for="switch_6"></label>
          <span class="date-toggle"
                id="datetime_6"
                style="display: none;"></span>
          <input id="until_6" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_7"
             type="hidden"
             value="416221">
      <input id="gameTime_7"
             type="hidden"
             value="2022-12-27T17:30:00Z">
      <input id="gameStage_7"
             type="hidden"
             value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">168</div>
      <div class="col-md-4 col-sm-4 gameDate">12/27/2022 12:30:00 PM</div>
      <div class="col-md-3 col-sm-1">CHE v BOU</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler"
                 id="switch_7"
                 type="checkbox">
          <label class="custom-control-label" for="switch_7"></label>
          <span class="date-toggle"
                id="datetime_7"
                style="display: none;"></span>
          <input id="until_7" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_8"
             type="hidden"
             value="416216">
      <input id="gameTime_8"
             type="hidden"
             value="2022-12-27T20:00:00Z">
      <input id="gameStage_8"
             type="hidden"
             value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">169</div>
      <div class="col-md-4 col-sm-4 gameDate">12/27/2022 3:00:00 PM</div>
      <div class="col-md-3 col-sm-1">MUN v NOT</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler"
                 id="switch_8"
                 type="checkbox">
          <label class="custom-control-label"
                 for="switch_8"></label>
          <span class="date-toggle"
                id="datetime_8"
                style="display: none;"></span>
					<input id="until_8" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
    <div class="row bottom-spacer">
      <input id="gameId_9"
             type="hidden"
             value="416218">
      <input id="gameTime_9"
             type="hidden"
             value="2022-12-28T20:00:00Z">
      <input id="gameStage_9"
             type="hidden"
             value="REGULAR_SEASON">
      <div class="col-md-2 col-sm-2">170</div>
      <div class="col-md-4 col-sm-4 gameDate">12/28/2022 3:00:00 PM</div>
      <div class="col-md-3 col-sm-1">LEE v MCI</div>
      <div class="col-md-3 col-sm-5">
        <div class="custom-control custom-switch">
          <input class="custom-control-input date-toggler"
                 id="switch_9"
                 type="checkbox">
          <label class="custom-control-label" for="switch_9"></label>
          <span class="date-toggle"
                id="datetime_9"
                style="display: none;"></span>
          <input id="until_9" type="datetime-local" value="1669521096748"/>
        </div>
      </div>
    </div>
  </form>
</div>
