<app-navbar></app-navbar>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="container">
  <div class="row header">
    <div class="col-12 text-center" id="header" style="font-size: 90px;">Game Exceptions</div>
    <!--<div class="col-12 text-center">{{exceptionForm.exceptions | json}}</div>-->
  </div>
  <div class="row header border-t border-l border-r"></div>
  <div class="row header border-l border-r text-center">
    <div class="col-md-6 col-sm-6">
            <span class="mySpan">
          <select [(ngModel)]="cyclePicker" (change)="switchCycle()">
            <option *ngFor="let c of cycleCount()" value="{{c}}" [selected]="c === cyclePicker">{{c}}</option>
          </select>
        </span>
    </div>
    <div class="col-md-6 col-sm-6">
      <button class="btn-primary submitBtn" id="submit_Exceptions" (click)="submit()">
        <span class="mySpan">Submit</span>
      </button>
    </div>
  </div>
  <div class="row header border-t border-l border-r">
    <div class="col-12 text-center" id="error"></div>
  </div>
  <div class="row border-b border-l border-r bottom-spacer">
    <div class="col-md-2 col-sm-2">GAME #</div>
    <div class="col-md-4 col-sm-4">DATE</div>
    <div class="col-md-3 col-sm-1">MATCH</div>
    <div class="col-md-3 col-sm-5">EXCEPTION</div>
  </div>
  <div class="row bottom-spacer" *ngFor="let e of exceptionForm.exceptions; let i = index">
    <div class="col-md-2 col-sm-2">{{e.gameId}}</div>
    <div class="col-md-4 col-sm-4 gameDate">{{e.gameDate}}</div>
    <div class="col-md-3 col-sm-1">{{e.homeTla}} v {{e.awayTla}}</div>
    <div class="col-md-3 col-sm-5">
      <div class="custom-control custom-switch">
        <input class="custom-control-input date-toggler" id="switch_{{i}}" type="checkbox" [(ngModel)]="e.exception">
        <label class="custom-control-label" for="switch_{{i}}"></label>&nbsp;&nbsp;
          <input id="until_{{i}}" type="datetime-local" [(ngModel)]="e.exceptionTimestamp" *ngIf="e.exception">
      </div>
    </div>
  </div>
</div>
