<app-navbar></app-navbar>
<div class="container">
  <div id="admin" *ngIf="isAdmin()">
    <div class="row header">
      <div class="col-12 text-center">Admin Actions</div>
      <div class="col-12 text-center">
        <a href="#" (click)="fetchTeams()">Fetch Teams</a>
      </div>
      <div class="col-12 text-center">
        <a href="#" (click)="fetchMatches()">Fetch Matches</a>
      </div>
      <div class="col-12 text-center">
        <a href="#" routerLink="/exceptions">Set Exceptions</a>
      </div>
      <div class="col-12 text-center">
        <a href="#" (click)="calculateCycleScores()">Calculate Cycle Scores</a>
      </div>
      <div class="col-12 text-center">
        <a href="#" (click)="createCycles()">Create/Update Cycles</a>
      </div>
      <div class="col-12 text-center">
        <a href="" id="clearScores">Clear All Scores</a>
      </div>
      <div class="col-12 text-center"></div>
      <br>
    </div>
  </div>
  <div id="user">
    <div class="row header">
      <div class="col-12 text-center">User Actions</div>
      <div class="col-12 text-center">
        <a href="#" routerLink="/quarter-stats">View Quarterly Stats</a>
      </div>
      <div class="col-12 text-center">
        <a href="#" routerLink="/predictions">View Predictions</a>
      </div>
  </div>
</div>
