<div id="admin">
  <div class="row header">
    <div class="col-12 text-center">Admin Actions</div>
    <div class="col-12 text-center">
      <a href="/create-teams?sessionId=J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">Fetch Teams</a>
    </div>
    <div class="col-12 text-center">
      <a href="/upsert-matches?sessionId=J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">Fetch Matches</a>
    </div>
    <div class="col-12 text-center">
      <a href="/exceptions?sessionId=J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">Set Exceptions</a>
    </div>
    <div class="col-12 text-center">
      <a href="/get-cycle-scores?sessionId=J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">Calculate Cycle Scores</a>
    </div>
    <div class="col-12 text-center">
      <a href="/create-cycles?sessionId=J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">Create/Update Cycles</a>
    </div>
    <div class="col-12 text-center">
      <a hef="" id="clearScores">Clear All Scores</a>
    </div>
    <div class="col-12 text-center"></div>
    <input id="sessId" type="hidden" value="J_9Y2CfFz6bMYbMw45extx1aso1ivMUy"/>
    <br>
  </div>
</div>
<div id="user">
  <div class="row header">
    <div class="col-12 text-center">User Actions</div>
    <div class="col-12 text-center">
      <a href="/quarter?sessionId=J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">View Quarterly Stats</a>
    </div>
    <div class="col-12 text-center">
      <a href="/predictions?sessionId=J_9Y2CfFz6bMYbMw45extx1aso1ivMUy">View Predictions</a>
    </div>
</div>
