<mat-toolbar color="accent">
EPL Punditz
</mat-toolbar>
<mat-toolbar color="primary">
  <mat-nav-list class="list-horizontal">
    <mat-list-item>
      <a href>Home</a>
    </mat-list-item>
    <mat-list-item>
      <a href>Current Stats</a>
    </mat-list-item>
    <mat-list-item>
      <a href>Quarterly Stats</a>
    </mat-list-item>
    <mat-list-item>
      <a href>Picks</a>
    </mat-list-item>
    <mat-list-item>
      <a href>Predictions</a>
    </mat-list-item>
    <mat-list-item>
      <a href>Picks</a>
    </mat-list-item>
    <mat-list-item>
      <a href>Log Out</a>
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar>
<!--<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Home</a>
    <ng-template ngbNavContent>
      <app-dashboard></app-dashboard>
    </ng-template>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Stats</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem >Current Stats</button>
      <button ngbDropdownItem>Quarterly Stats</button>
    </div>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Picks</a>
    <ng-template ngbNavContent>
      <app-picks></app-picks>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Predictions</a>
    <ng-template ngbNavContent>
      <app-predictions></app-predictions>
    </ng-template>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Admin</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>Set Exceptions</button>
      <button ngbDropdownItem>Refresh Fixtures</button>
      <button ngbDropdownItem>Clear Scores</button>
      <button ngbDropdownItem>Re-calculate Scores</button>
    </div>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Logout</a>
    <ng-template ngbNavContent>
      <p>
        Logout
      </p>
    </ng-template>
  </li>
</ul>-->
