<app-navbar></app-navbar>
<div class="container">
  <form id="cycle_picks">
    <input id="userId" type="hidden" value="ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919">
    <input id="sessionId" type="hidden" value="pNcsa4xlaDReU0zEd_tQIp3Y3sj0jmy7">
    <input id="leagueId" type="hidden" value="2021">
    <div class="row header">
      <div class="col-12 text-center" id="header" style="font-size: 90px;">Weekly Picks</div>
    </div>
    <div class="row header border-t border-l border-r">
      <div class="col-12 text-center">Note: Games will be disabled for point entry after they have started.</div>
    </div>
    <div class="row header border-l border-r text-center">
      <div class="col-md-3 col-sm-3">
          <span class="mySpan">
            <select id="cyclePicker">
              <option *ngFor="let c of cycleCount()" value="{{c}}" [selected]="c === cycle.cycleNumber">{{c}}</option>
            </select>
          </span>
      </div>
      <div class="col-md-5 col-sm-5">
        <button class="btn-primary submitBtn" id="submit_picks" (click)="submit()">
          <span class="mySpan">Submit Picks</span>
        </button>
      </div>
      <div class="col-md-4 col-sm-4">
        <button class="btn-primary submitBtn" id="clear_picks" (click)="clear()">
          <span class="mySpan">Clear Picks</span>
        </button>
      </div>
    </div>
    <div class="row header border-t border-l border-r">
      <div class="col-12 text-center" id="error"></div>
    </div>
    <div class="row border-b border-l border-r bottom-spacer">
      <div class="col-md-2 col-sm-2">GAME #</div>
      <div class="col-md-4 col-sm-4">DATE</div>
      <div class="col-md-3 col-sm-3">PICK</div>
      <div class="col-md-3 col-sm-3">POINTS</div>
    </div>
    <ng-template *ngFor="let m of getMatches(); let i = index">
      <div class="row bottom-spacer">
        <!--<input type="hidden" id="gameId_{{i}}" value="{{i}}"> &lt;!&ndash;value="{{m.id}}">&ndash;&gt;
        <input type="hidden" id="gameTime_{{i}}" value="{{now}}">&lt;!&ndash;value="{{m.utcDate}}">&ndash;&gt;
        <input type="hidden" id="gameStage_{{i}}" value="STAGE">&lt;!&ndash;value="{{m.stage}}">&ndash;&gt;-->
        <div class="col-md-2 col-sm-2">{{m['id']}}</div>
        <div class="col-md-4 col-sm-4 gameDate">{{m['utcDate']}}</div>
        <div class="col-md-3 col-sm-3"><select id="team_pick_{{i}}">
          <option selected="">--</option>
          <option>{{m['homeTeam']['tla']}}</option>
          <option>{{m['awayTeam']['tla']}}</option>
        </select></div>
        <div class="col-md-3 col-sm-3">
          <select class="points" id="points_pick_{{i}}" (change)="checkSuperPick()">
            <option *ngFor="let p of points">{{p}}</option>
          </select>
        </div>
      </div>
    </ng-template>
  </form>
</div>
