<app-navbar></app-navbar>
<div class="container">
  <div class="row header">
    <div class="col-12 text-center">EPL Definitions</div>
    <div class="col-12">
      <ul>
        <li>Cycle - grouping of 10 games played within the span of a few days</li>
        <li>Super Pick - Points bet on a team above the normal 10 points. May be 20 or 40 depending on the week and whether a super pick was used in the prior week.</li>
        <li>Bonus Points - Double the wager made</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row header">
    <div class="col-12 text-center">Rules</div>
    <div class="col-12">
      <ol>
        <li>Punditz must submit picks (along with number of points) for each game before each game begins.</li>
        <li>Punditz are expected to submit picks via provided website.</li>
        <li>Punditz <em><strong>may</strong></em> submit one (1) team as a Super Pick per cycle. <em><strong> This is not mandatory.</strong></em></li>
        <li>Punditz <em><strong>will</strong></em> be penalized for picking the same team as a Super Pick within a three (3) cycle window. i.e. Picking LIV in cycle 2 means that one would not be able to pick LIV again as a Super Pick until cycle 5 without incurring a penalty. <em><strong>Penalty is as follows:</strong></em>
          <ul>
            <li><em><strong>Minus thirty (-30) for a wager of 20 points.</strong></em></li>
            <li><em><strong>Minus fifty (-50) for a wager of 40 points.</strong></em></li>
          </ul>
        </li>
        <li>Any changes to picks must be done prior to the game start time.</li>
        <li>Failure to submit picks or submitting picks without points will incur minus fifteen (-15) points per game missed.</li>
        <li>There is no excuse for not submitting picks as the schedule is available weeks in advance.</li>
        <li>Punditz are awarded the points wagered for a win and half the points wagered for a draw for each game.</li>
        <li>Punditz will lose the points wagered for each game lost. e.g. if you wager six (6) points in a team and the team loses, you lose six (6) points.</li>
        <li><em><strong>Punditz will lose twenty (20), or forty (40) points if the Super Pick loses the game.</strong></em></li>
        <li>Bonus points are awarded for games where the winning team has won by three (3) or more goals. e.g. if you wager eight (8) points on a team and they win by three (3) or more goals, you are awarded sixteen (16) points.</li>
        <li>Bonus points are also awarded for the Super Pick.</li>
        <li>All decisions made by the Admin are <em><strong>final</strong></em>.</li>
        <li>Punditz are expected to submit a list of your predicted order of finish of teams (1<sup>st</sup> to 20<sup>th</sup> position) for the season. These predictions cannot be changed after they are submitted.</li>
      </ol>
    </div>
  </div>
</div>
