<app-navbar></app-navbar>
<app-loading *ngIf="loading"></app-loading>
<div class="container" *ngIf="!loading">
  <div class="row header">
    <div class="col-12 text-center" id="header" style="font-size: 90px;">Users</div>
  </div>
  <div class="row border-t border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r font-weight-bold">User Id</div>
    <div class="col-md-3 col-sm-3 text-center border-r font-weight-bold">Name</div>
    <div class="col-md-3 col-sm-3 text-center border-r font-weight-bold">Email</div>
    <div class="col-md-2 col-sm-2 text-center border-r font-weight-bold">Admin</div>
    <div class="col-md-2 col-sm-2 text-center font-weight-bold">Active</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">jermsama</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Jermaine Chase</div>
    <div class="col-md-3 col-sm-3 text-center border-r">jermsama@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_0" type="hidden"
                                                               value="ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919"><input
      class="toggle-admin" id="promote_admin_0" checked="" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_0" type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Rpuckie</div>
    <div class="col-md-3 col-sm-3 text-center border-r">R Puckie</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Rpuckie@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_1" type="hidden"
                                                               value="ff599237-c2ad-48bc-ad26-a7bc1d729ae9"><input
      class="toggle-admin" id="promote_admin_1" checked="" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_1" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">660626</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Dacosta Cadogan</div>
    <div class="col-md-3 col-sm-3 text-center border-r">dacostacadogan@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_2" type="hidden"
                                                               value="bfe3fe06-6f29-4e7a-a078-f599cf1a88c5"><input
      class="toggle-admin" id="promote_admin_2" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_2" type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Feathers</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Nicole Puckerin</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Nicolepuckerin@yahoo.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_3" type="hidden"
                                                               value="af2a842a-7b8c-4f4b-85f8-46edec427e83"><input
      class="toggle-admin" id="promote_admin_3" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_3" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Bigga</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Ian Blackman</div>
    <div class="col-md-3 col-sm-3 text-center border-r">bigwheel1bigdog@hotmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_4" type="hidden"
                                                               value="ffce284c-289d-4754-82c9-3da1558cea65"><input
      class="toggle-admin" id="promote_admin_4" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_4" type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">JShepherd</div>
    <div class="col-md-3 col-sm-3 text-center border-r">J Shepherd</div>
    <div class="col-md-3 col-sm-3 text-center border-r">jayshepherd80@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_5" type="hidden"
                                                               value="ec0ed68d-357f-4a6e-854b-60a9a293a868"><input
      class="toggle-admin" id="promote_admin_5" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_5" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Bev</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Beverley Grant</div>
    <div class="col-md-3 col-sm-3 text-center border-r">bevgrant72@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_6" type="hidden"
                                                               value="c9fdf4f4-70f7-42ba-903c-59477460ca83"><input
      class="toggle-admin" id="promote_admin_6" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_6" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">admin</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Admin User</div>
    <div class="col-md-3 col-sm-3 text-center border-r">dummy@email.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_7" type="hidden"
                                                               value="e6a33420-ece8-4da5-99ef-f84180240fc1"><input
      class="toggle-admin" id="promote_admin_7" checked="" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_7" type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">ambertee18</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Sylvan Small</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Ssmall09@hotmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_8" type="hidden"
                                                               value="e4d723af-ec8d-401b-ad90-337aa918ed21"><input
      class="toggle-admin" id="promote_admin_8" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_8" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">RedDevilRapport</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Kevin Cave</div>
    <div class="col-md-3 col-sm-3 text-center border-r">kevincave246@icloud.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_9" type="hidden"
                                                               value="3157ebe4-6278-49b2-a0ed-7f1f8bd2fd44"><input
      class="toggle-admin" id="promote_admin_9" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_9" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Fella</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Chekirah Shepherd</div>
    <div class="col-md-3 col-sm-3 text-center border-r">netballstar_@hotmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_10" type="hidden"
                                                               value="47bc1f87-8033-49e2-84a7-79a55d771d41"><input
      class="toggle-admin" id="promote_admin_10" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_10" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Kurt</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Kurt Carrington</div>
    <div class="col-md-3 col-sm-3 text-center border-r">sowhat30@aol.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_11" type="hidden"
                                                               value="4f78070d-8675-455c-9fe2-3124dab52b87"><input
      class="toggle-admin" id="promote_admin_11" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_11" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Davis2410</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Davis Jules</div>
    <div class="col-md-3 col-sm-3 text-center border-r">davis2410@yahoo.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_12" type="hidden"
                                                               value="8ff04405-41d7-4018-978f-e6aa1379f615"><input
      class="toggle-admin" id="promote_admin_12" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_12" type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Keita246</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Keita Moore</div>
    <div class="col-md-3 col-sm-3 text-center border-r">jabariemoore@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_13" type="hidden"
                                                               value="7c60274e-5f86-4469-acfb-86a3d2810222"><input
      class="toggle-admin" id="promote_admin_13" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_13" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Nattydread</div>
    <div class="col-md-3 col-sm-3 text-center border-r">David Smith</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Dbaje349@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_14" type="hidden"
                                                               value="d5735bd4-743c-4851-add7-e9e8ae649ac7"><input
      class="toggle-admin" id="promote_admin_14" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_14" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Marlon</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Yohann Morris</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Yohannmorrisw@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_15" type="hidden"
                                                               value="39d69478-7747-4f19-bf2c-6db530d30480"><input
      class="toggle-admin" id="promote_admin_15" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_15" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Mr B</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Sean B</div>
    <div class="col-md-3 col-sm-3 text-center border-r">skr4ever38@yahoo.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_16" type="hidden"
                                                               value="787a9e6e-3988-49e6-921c-9556505ce980"><input
      class="toggle-admin" id="promote_admin_16" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_16" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Dave</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Dave Greaves</div>
    <div class="col-md-3 col-sm-3 text-center border-r">nrgdave@live.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_17" type="hidden"
                                                               value="7f722ae7-cbef-41c4-919e-a2b733cd8563"><input
      class="toggle-admin" id="promote_admin_17" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_17" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Nwillpro</div>
    <div class="col-md-3 col-sm-3 text-center border-r">NATE Williams</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Nwillpro@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_18" type="hidden"
                                                               value="6e48e8ce-9736-449f-9667-882a9f811160"><input
      class="toggle-admin" id="promote_admin_18" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_18" type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Ramon10</div>
    <div class="col-md-3 col-sm-3 text-center border-r">RAMON GRANT</div>
    <div class="col-md-3 col-sm-3 text-center border-r">ramongrant1810@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_19" type="hidden"
                                                               value="50bfa4de-b37e-414a-9e88-de6e80708473"><input
      class="toggle-admin" id="promote_admin_19" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_19" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Eriq_13</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Eriq Puckerin</div>
    <div class="col-md-3 col-sm-3 text-center border-r">puckie-2@hotmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_20" type="hidden"
                                                               value="20db8140-6d8a-4fca-a59b-08c9092a9106"><input
      class="toggle-admin" id="promote_admin_20" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_20" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Terry</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Terry Niles</div>
    <div class="col-md-3 col-sm-3 text-center border-r">nilesterry490@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_21" type="hidden"
                                                               value="90a07b41-f12c-463a-9494-4a5d804135f0"><input
      class="toggle-admin" id="promote_admin_21" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_21" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">ALBERT mapp</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Albert Mapp</div>
    <div class="col-md-3 col-sm-3 text-center border-r">albertmapp25@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_22" type="hidden"
                                                               value="b3d441f2-2471-45d4-8408-7bab46f278cc"><input
      class="toggle-admin" id="promote_admin_22" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_22" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Hennyking</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Tristan Alleyne</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Ta.depay@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_23" type="hidden"
                                                               value="a90db4ec-1861-4133-9bcb-50fab75c2dd3"><input
      class="toggle-admin" id="promote_admin_23" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_23" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Bev</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Beverley Grant</div>
    <div class="col-md-3 col-sm-3 text-center border-r">bevgrant72@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_24" type="hidden"
                                                               value="1c2acb6a-2d62-4492-8157-98c6a767eccf"><input
      class="toggle-admin" id="promote_admin_24" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_24" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Davis2410</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Davis Jules</div>
    <div class="col-md-3 col-sm-3 text-center border-r">davis2410@yahoo.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_25" type="hidden"
                                                               value="d3fc52b6-c8d1-41d2-92b5-29935638fc08"><input
      class="toggle-admin" id="promote_admin_25" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_25" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">Biggboss</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Bigg Boss</div>
    <div class="col-md-3 col-sm-3 text-center border-r">victor68layne@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_26" type="hidden"
                                                               value="f3aeb0c6-7c3a-49e1-8d29-d1d942ef99d4"><input
      class="toggle-admin" id="promote_admin_26" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_26" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">ambertee30</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Sylvan Small</div>
    <div class="col-md-3 col-sm-3 text-center border-r">ssmall09@hotmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_27" type="hidden"
                                                               value="98e8d906-6438-4839-a327-62272b0b7cc6"><input
      class="toggle-admin" id="promote_admin_27" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_27" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">bajanboy09</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Sylvan Small</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Amsyllex@hotmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_28" type="hidden"
                                                               value="f7699f95-d21c-45a8-9f0f-cf54c090f6ee"><input
      class="toggle-admin" id="promote_admin_28" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center"><input class="toggle-active" id="toggle_status_28" checked=""
                                                      type="checkbox"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-2 col-sm-2 text-center border-r">albertmapp</div>
    <div class="col-md-3 col-sm-3 text-center border-r">Albert Mapp</div>
    <div class="col-md-3 col-sm-3 text-center border-r">albertmapp25@gmail.com</div>
    <div class="col-md-2 col-sm-2 text-center border-r"><input id="user_29" type="hidden"
                                                               value="e9c2424f-f34f-478d-aeac-d2fbb3f87c6e"><input
      class="toggle-admin" id="promote_admin_29" type="checkbox"></div>
    <div class="col-md-2 col-sm-2 text-center">
      <input class="toggle-active" id="toggle_status_29" checked="" type="checkbox">
    </div>
  </div>
</div>
