<app-navbar></app-navbar>
<div class="container">
  <div class="row header">
    <div class="col-12 text-center">QUARTERLY POINTS &amp; POSITION</div>
  </div>
  <div class="row border-t border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Player</div>
    <div class="col-md-2 col-sm-2 text-center">1st Q<br><span class="tiny-text">(Games 1 - 95)</span></div>
    <div class="col-md-2 col-sm-2 text-center">2nd Q<br><span class="tiny-text">(Games 96 - 190)</span></div>
    <div class="col-md-2 col-sm-2 text-center">3rd Q<br><span class="tiny-text">(Games 191 - 285)</span></div>
    <div class="col-md-2 col-sm-2 text-center">4th Q<br><span class="tiny-text">(Games 286 - 380)</span></div>
    <div class="col-md-1 col-sm-1 text-center">Total</div>
    <div class="col-md-1 col-sm-1 text-center">Avg</div>
  </div>
  <div class="row border-t border-l border-r">
    <div class="col-md-2 col-sm-2 text-center"></div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pts.</div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pos.</div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pts.</div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pos.</div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pts.</div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pos.</div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pts.</div>
    <div class="col-md-1 col-sm-1 text-center tiny-text">pos.</div>
    <div class="col-md-2 col-sm-2 text-center"></div>
  </div>
  <div class="row border-t border-b even-row border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Jermaine</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919">--</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919">19</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_ddf3d0a9-409e-4100-b3a5-f1c2ae1c5919">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">0</div>
    <div class="col-md-1 col-sm-1 text-center">0.00</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">R</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_ff599237-c2ad-48bc-ad26-a7bc1d729ae9">600</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_ff599237-c2ad-48bc-ad26-a7bc1d729ae9">2</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_ff599237-c2ad-48bc-ad26-a7bc1d729ae9">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_ff599237-c2ad-48bc-ad26-a7bc1d729ae9">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_ff599237-c2ad-48bc-ad26-a7bc1d729ae9">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">1140</div>
    <div class="col-md-1 col-sm-1 text-center">285</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Nicole</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_af2a842a-7b8c-4f4b-85f8-46edec427e83">113</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_af2a842a-7b8c-4f4b-85f8-46edec427e83">17</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_af2a842a-7b8c-4f4b-85f8-46edec427e83">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_af2a842a-7b8c-4f4b-85f8-46edec427e83">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_af2a842a-7b8c-4f4b-85f8-46edec427e83">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">510</div>
    <div class="col-md-1 col-sm-1 text-center">128</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">J</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_ec0ed68d-357f-4a6e-854b-60a9a293a868">470</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_ec0ed68d-357f-4a6e-854b-60a9a293a868">4</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_ec0ed68d-357f-4a6e-854b-60a9a293a868">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_ec0ed68d-357f-4a6e-854b-60a9a293a868">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_ec0ed68d-357f-4a6e-854b-60a9a293a868">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">805</div>
    <div class="col-md-1 col-sm-1 text-center">201</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Beverley</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_c9fdf4f4-70f7-42ba-903c-59477460ca83">495</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_c9fdf4f4-70f7-42ba-903c-59477460ca83">3</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_c9fdf4f4-70f7-42ba-903c-59477460ca83">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_c9fdf4f4-70f7-42ba-903c-59477460ca83">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_c9fdf4f4-70f7-42ba-903c-59477460ca83">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">750</div>
    <div class="col-md-1 col-sm-1 text-center">188</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Sylvan</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_e4d723af-ec8d-401b-ad90-337aa918ed21">--</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_e4d723af-ec8d-401b-ad90-337aa918ed21">19</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_e4d723af-ec8d-401b-ad90-337aa918ed21">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_e4d723af-ec8d-401b-ad90-337aa918ed21">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_e4d723af-ec8d-401b-ad90-337aa918ed21">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">275</div>
    <div class="col-md-1 col-sm-1 text-center">68.8</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Kevin</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_3157ebe4-6278-49b2-a0ed-7f1f8bd2fd44">--</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_3157ebe4-6278-49b2-a0ed-7f1f8bd2fd44">19</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_3157ebe4-6278-49b2-a0ed-7f1f8bd2fd44">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_3157ebe4-6278-49b2-a0ed-7f1f8bd2fd44">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_3157ebe4-6278-49b2-a0ed-7f1f8bd2fd44">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">45</div>
    <div class="col-md-1 col-sm-1 text-center">11.3</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Chekirah</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_47bc1f87-8033-49e2-84a7-79a55d771d41">365</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_47bc1f87-8033-49e2-84a7-79a55d771d41">8</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_47bc1f87-8033-49e2-84a7-79a55d771d41">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_47bc1f87-8033-49e2-84a7-79a55d771d41">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_47bc1f87-8033-49e2-84a7-79a55d771d41">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">550</div>
    <div class="col-md-1 col-sm-1 text-center">138</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Kurt</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_4f78070d-8675-455c-9fe2-3124dab52b87">470</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_4f78070d-8675-455c-9fe2-3124dab52b87">4</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_4f78070d-8675-455c-9fe2-3124dab52b87">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_4f78070d-8675-455c-9fe2-3124dab52b87">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_4f78070d-8675-455c-9fe2-3124dab52b87">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">815</div>
    <div class="col-md-1 col-sm-1 text-center">204</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Keita</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_7c60274e-5f86-4469-acfb-86a3d2810222">240</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_7c60274e-5f86-4469-acfb-86a3d2810222">13</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_7c60274e-5f86-4469-acfb-86a3d2810222">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_7c60274e-5f86-4469-acfb-86a3d2810222">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_7c60274e-5f86-4469-acfb-86a3d2810222">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">420</div>
    <div class="col-md-1 col-sm-1 text-center">105</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">David</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_d5735bd4-743c-4851-add7-e9e8ae649ac7">220</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_d5735bd4-743c-4851-add7-e9e8ae649ac7">15</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_d5735bd4-743c-4851-add7-e9e8ae649ac7">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_d5735bd4-743c-4851-add7-e9e8ae649ac7">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_d5735bd4-743c-4851-add7-e9e8ae649ac7">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">435</div>
    <div class="col-md-1 col-sm-1 text-center">109</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Yohann</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_39d69478-7747-4f19-bf2c-6db530d30480">130</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_39d69478-7747-4f19-bf2c-6db530d30480">16</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_39d69478-7747-4f19-bf2c-6db530d30480">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_39d69478-7747-4f19-bf2c-6db530d30480">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_39d69478-7747-4f19-bf2c-6db530d30480">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">165</div>
    <div class="col-md-1 col-sm-1 text-center">41.3</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Sean</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_787a9e6e-3988-49e6-921c-9556505ce980">360</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_787a9e6e-3988-49e6-921c-9556505ce980">9</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_787a9e6e-3988-49e6-921c-9556505ce980">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_787a9e6e-3988-49e6-921c-9556505ce980">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_787a9e6e-3988-49e6-921c-9556505ce980">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">760</div>
    <div class="col-md-1 col-sm-1 text-center">190</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Dave</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_7f722ae7-cbef-41c4-919e-a2b733cd8563">280</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_7f722ae7-cbef-41c4-919e-a2b733cd8563">11</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_7f722ae7-cbef-41c4-919e-a2b733cd8563">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_7f722ae7-cbef-41c4-919e-a2b733cd8563">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_7f722ae7-cbef-41c4-919e-a2b733cd8563">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">635</div>
    <div class="col-md-1 col-sm-1 text-center">159</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">RAMON</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_50bfa4de-b37e-414a-9e88-de6e80708473">430</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_50bfa4de-b37e-414a-9e88-de6e80708473">7</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_50bfa4de-b37e-414a-9e88-de6e80708473">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_50bfa4de-b37e-414a-9e88-de6e80708473">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_50bfa4de-b37e-414a-9e88-de6e80708473">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">680</div>
    <div class="col-md-1 col-sm-1 text-center">170</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Eriq</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_20db8140-6d8a-4fca-a59b-08c9092a9106">655</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_20db8140-6d8a-4fca-a59b-08c9092a9106">1</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_20db8140-6d8a-4fca-a59b-08c9092a9106">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_20db8140-6d8a-4fca-a59b-08c9092a9106">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_20db8140-6d8a-4fca-a59b-08c9092a9106">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">1045</div>
    <div class="col-md-1 col-sm-1 text-center">261</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Terry</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_90a07b41-f12c-463a-9494-4a5d804135f0">235</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_90a07b41-f12c-463a-9494-4a5d804135f0">14</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_90a07b41-f12c-463a-9494-4a5d804135f0">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_90a07b41-f12c-463a-9494-4a5d804135f0">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_90a07b41-f12c-463a-9494-4a5d804135f0">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">475</div>
    <div class="col-md-1 col-sm-1 text-center">119</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Albert</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_b3d441f2-2471-45d4-8408-7bab46f278cc">450</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_b3d441f2-2471-45d4-8408-7bab46f278cc">6</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_b3d441f2-2471-45d4-8408-7bab46f278cc">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_b3d441f2-2471-45d4-8408-7bab46f278cc">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_b3d441f2-2471-45d4-8408-7bab46f278cc">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">850</div>
    <div class="col-md-1 col-sm-1 text-center">213</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Tristan</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_a90db4ec-1861-4133-9bcb-50fab75c2dd3">322</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_a90db4ec-1861-4133-9bcb-50fab75c2dd3">10</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_a90db4ec-1861-4133-9bcb-50fab75c2dd3">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_a90db4ec-1861-4133-9bcb-50fab75c2dd3">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_a90db4ec-1861-4133-9bcb-50fab75c2dd3">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">491</div>
    <div class="col-md-1 col-sm-1 text-center">123</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Beverley</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_1c2acb6a-2d62-4492-8157-98c6a767eccf">--</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_1c2acb6a-2d62-4492-8157-98c6a767eccf">19</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_1c2acb6a-2d62-4492-8157-98c6a767eccf">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_1c2acb6a-2d62-4492-8157-98c6a767eccf">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_1c2acb6a-2d62-4492-8157-98c6a767eccf">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">0</div>
    <div class="col-md-1 col-sm-1 text-center">0.00</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Davis</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_d3fc52b6-c8d1-41d2-92b5-29935638fc08">250</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_d3fc52b6-c8d1-41d2-92b5-29935638fc08">12</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_d3fc52b6-c8d1-41d2-92b5-29935638fc08">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_d3fc52b6-c8d1-41d2-92b5-29935638fc08">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_d3fc52b6-c8d1-41d2-92b5-29935638fc08">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">530</div>
    <div class="col-md-1 col-sm-1 text-center">133</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Bigg</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_f3aeb0c6-7c3a-49e1-8d29-d1d942ef99d4">--</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_f3aeb0c6-7c3a-49e1-8d29-d1d942ef99d4">19</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_f3aeb0c6-7c3a-49e1-8d29-d1d942ef99d4">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_f3aeb0c6-7c3a-49e1-8d29-d1d942ef99d4">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_f3aeb0c6-7c3a-49e1-8d29-d1d942ef99d4">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">70</div>
    <div class="col-md-1 col-sm-1 text-center">17.5</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Sylvan</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_98e8d906-6438-4839-a327-62272b0b7cc6">--</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_98e8d906-6438-4839-a327-62272b0b7cc6">19</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_98e8d906-6438-4839-a327-62272b0b7cc6">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_98e8d906-6438-4839-a327-62272b0b7cc6">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_98e8d906-6438-4839-a327-62272b0b7cc6">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">125</div>
    <div class="col-md-1 col-sm-1 text-center">31.3</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2 text-center">Sylvan</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_f7699f95-d21c-45a8-9f0f-cf54c090f6ee">60</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_f7699f95-d21c-45a8-9f0f-cf54c090f6ee">18</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_f7699f95-d21c-45a8-9f0f-cf54c090f6ee">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_f7699f95-d21c-45a8-9f0f-cf54c090f6ee">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_f7699f95-d21c-45a8-9f0f-cf54c090f6ee">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">365</div>
    <div class="col-md-1 col-sm-1 text-center">91.3</div>
  </div>
  <div class="row border-b border-l border-r even-row">
    <div class="col-md-2 col-sm-2 text-center">Albert</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q1_e9c2424f-f34f-478d-aeac-d2fbb3f87c6e">--</div>
    <div class="col-md-1 col-sm-1 text-center position" id="position_q1_e9c2424f-f34f-478d-aeac-d2fbb3f87c6e">19</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q2_e9c2424f-f34f-478d-aeac-d2fbb3f87c6e">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q3_e9c2424f-f34f-478d-aeac-d2fbb3f87c6e">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center total" id="total_q4_e9c2424f-f34f-478d-aeac-d2fbb3f87c6e">--</div>
    <div class="col-md-1 col-sm-1 text-center">--</div>
    <div class="col-md-1 col-sm-1 text-center">0</div>
    <div class="col-md-1 col-sm-1 text-center">0.00</div>
  </div>
</div>
