<app-navbar></app-navbar>
<div class="container">
  <div class="row header">
    <div class="col-12 text-center">Stats</div>
    <div class="col-12 text-center">Player Points As Of Cycle #<select id="cyclePicker">
      <option *ngFor="let c of cycleCount()" value="{{c}}" [selected]="c === cycle.cycleNumber">{{c}}</option>
    </select></div>
  </div>
  <div class="row border-t border-l border-r">
    <div class="col-md-3 col-sm-3 text-center">Player</div>
    <div class="col-md-6 text-center">Points</div>
    <div class="col-md-3 col-sm-3 text-center">Position</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-3 col-sm-3 text-center">Cycle</div>
    <div class="col-md-3 col-sm-3 text-center">Total</div>
    <div class="col-md-3 col-sm-3"></div>
  </div>
  <div class="row even-row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Jermaine</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">R</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Nicole</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">J</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Beverley</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Sylvan</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Kevin</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Chekirah</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Kurt</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Keita</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">David</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Yohann</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Sean</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Dave</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">RAMON</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Eriq</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Terry</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Albert</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Tristan</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Beverley</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Davis</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Bigg</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Sylvan</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-3 col-sm-3 text-center">Sylvan</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-3 col-sm-3 text-center">Albert</div>
    <div class="col-md-9 col-sm-9 text-center">No results/picks currently available for this cycle</div>
  </div>
  <hr>
  <div class="row header">
    <div class="col-12 text-center">Player Points Per Game For Cycle # 20</div>
  </div>
  <div class="row border-t border-l border-r">
    <div class="col-md-2 text-center">Player</div>
    <div class="col-md-10 text-center">Games</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-1 col-sm-1 text-center">#191</div>
    <div class="col-md-1 col-sm-1 text-center">#192</div>
    <div class="col-md-1 col-sm-1 text-center">#193</div>
    <div class="col-md-1 col-sm-1 text-center">#194</div>
    <div class="col-md-1 col-sm-1 text-center">#195</div>
    <div class="col-md-1 col-sm-1 text-center">#196</div>
    <div class="col-md-1 col-sm-1 text-center">#197</div>
    <div class="col-md-1 col-sm-1 text-center">#198</div>
    <div class="col-md-1 col-sm-1 text-center">#199</div>
    <div class="col-md-1 col-sm-1 text-center">#200</div>
  </div>
  <div class="row border-b border-l border-r">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-1 text-center"><span>AVL()</span><br>v<br><span>LEE()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>MUN()</span><br>v<br><span>MCI()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>WOL()</span><br>v<br><span>WHU()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>NOT()</span><br>v<br><span>LEI()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>EVE()</span><br>v<br><span>SOU()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>BHA()</span><br>v<br><span>LIV()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>BRE()</span><br>v<br><span>BOU()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>NEW()</span><br>v<br><span>FUL()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>CHE()</span><br>v<br><span>CRY()</span></div>
    <div class="col-md-1 col-sm-1 text-center"><span>TOT()</span><br>v<br><span>ARS()</span></div>
  </div>
  <div class="row even-row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Jermaine</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">R</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Nicole</div>
    <div class="col-md-1 col-sm-1 text-center">Wagers</div>
    <div class="col-md-1 col-sm-1 text-center">AVL/10</div>
    <div class="col-md-1 col-sm-1 text-center">MUN/10</div>
    <div class="col-md-1 col-sm-1 text-center">WHU/10</div>
    <div class="col-md-1 col-sm-1 text-center">LEI/10</div>
    <div class="col-md-1 col-sm-1 text-center">EVE/10</div>
    <div class="col-md-1 col-sm-1 text-center">LIV/10</div>
    <div class="col-md-1 col-sm-1 text-center">BRE/10</div>
    <div class="col-md-1 col-sm-1 text-center">NEW/10</div>
    <div class="col-md-1 col-sm-1 text-center">CHE/10</div>
    <div class="col-md-1 col-sm-1 text-center">ARS/10</div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">J</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Beverley</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Sylvan</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Kevin</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Chekirah</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Kurt</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Keita</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">David</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Yohann</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Sean</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Dave</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">RAMON</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Eriq</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Terry</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Albert</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Tristan</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Beverley</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Davis</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Bigg</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Sylvan</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b">
    <div class="col-md-1 col-sm-1 text-center">Sylvan</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
  <div class="row border-l border-r border-b even-row">
    <div class="col-md-1 col-sm-1 text-center">Albert</div>
    <div class="col-md-10 col-sm-10 text-center">No results/picks currently available for this cycle</div>
  </div>
</div>
